In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import os

In [5]:
df=pd.read_csv('C:\\Users\\aftha\\OneDrive\\Desktop\\dog_breeds.csv')
df1=df.copy()

In [6]:
df1

,Name,min_life_expectancy,max_life_expectancy,max_height_male,max_height_female,max_weight_male,max_weight_female,min_height_male,min_height_female,min_weight_male,...,shedding,grooming,drooling,coat_length,good_with_strangers,playfulness,protectiveness,trainability,energy,barking
0,Golden Retriever,10,12,24.0,24.0,75.0,65.0,23.0,23.0,65.0,...,4,2,2,1,5,4,3,5,3,1
1,Dachshund,12,16,9.0,9.0,32.0,32.0,8.0,8.0,16.0,...,2,2,2,2,4,4,4,4,3,5
2,Labrador Retriever,10,12,24.5,24.5,80.0,70.0,22.5,22.5,65.0,...,4,2,2,1,5,5,3,5,5,3
3,Great Dane,7,10,32.0,32.0,175.0,140.0,30.0,30.0,140.0,...,3,1,4,1,3,4,5,3,4,3
4,Boxer,10,12,25.0,25.0,80.0,65.0,23.0,23.0,65.0,...,2,2,3,1,4,4,4,4,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,American Staffordshire Terrier,12,16,19.0,19.0,70.0,55.0,18.0,18.0,55.0,...,2,1,1,1,4,3,5,3,3,3
93,Australian Shepherd,12,15,23.0,23.0,65.0,55.0,20.0,20.0,50.0,...,3,2,1,1,3,4,3,5,5,3
94,Pembroke Welsh Corgi,12,13,12.0,12.0,31.0,28.0,10.0,10.0,24.0,...,4,2,1,1,4,4,5,4,4,4
95,Yorkshire Terrier,11,15,8.0,8.0,7.0,7.0,7.0,7.0,7.0,...,1,5,1,1,5,4,5,4,4,4
96,French Bulldog,10,12,13.0,13.0,28.0,26.0,11.0,11.0,20.0,...,3,1,3,1,5,5,3,4,3,1

In [8]:
df1.set_index('Name')

,min_life_expectancy,max_life_expectancy,max_height_male,max_height_female,max_weight_male,max_weight_female,min_height_male,min_height_female,min_weight_male,min_weight_female,...,shedding,grooming,drooling,coat_length,good_with_strangers,playfulness,protectiveness,trainability,energy,barking
Name,,,,,,,,,,,,,,,,,,,,,
Golden Retriever,10,12,24.0,24.0,75.0,65.0,23.0,23.0,65.0,55.0,...,4,2,2,1,5,4,3,5,3,1
Dachshund,12,16,9.0,9.0,32.0,32.0,8.0,8.0,16.0,16.0,...,2,2,2,2,4,4,4,4,3,5
Labrador Retriever,10,12,24.5,24.5,80.0,70.0,22.5,22.5,65.0,55.0,...,4,2,2,1,5,5,3,5,5,3
Great Dane,7,10,32.0,32.0,175.0,140.0,30.0,30.0,140.0,110.0,...,3,1,4,1,3,4,5,3,4,3
Boxer,10,12,25.0,25.0,80.0,65.0,23.0,23.0,65.0,50.0,...,2,2,3,1,4,4,4,4,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
American Staffordshire Terrier,12,16,19.0,19.0,70.0,55.0,18.0,18.0,55.0,40.0,...,2,1,1,1,4,3,5,3,3,3
Australian Shepherd,12,15,23.0,23.0,65.0,55.0,20.0,20.0,50.0,40.0,...,3,2,1,1,3,4,3,5,5,3
Pembroke Welsh Corgi,12,13,12.0,12.0,31.0,28.0,10.0,10.0,24.0,24.0,...,4,2,1,1,4,4,5,4,4,4
Yorkshire Terrier,11,15,8.0,8.0,7.0,7.0,7.0,7.0,7.0,7.0,...,1,5,1,1,5,4,5,4,4,4
French Bulldog,10,12,13.0,13.0,28.0,26.0,11.0,11.0,20.0,18.0,...,3,1,3,1,5,5,3,4,3,1

In [41]:
df2

,Name,min_life_expectancy,max_life_expectancy,max_height_male,max_height_female,max_weight_male,max_weight_female,min_height_male,min_height_female,min_weight_male,min_weight_female
0,Golden Retriever,10,12,24.0,24.0,75.0,65.0,23.0,23.0,65.0,55.0
1,Dachshund,12,16,9.0,9.0,32.0,32.0,8.0,8.0,16.0,16.0
2,Labrador Retriever,10,12,24.5,24.5,80.0,70.0,22.5,22.5,65.0,55.0
3,Great Dane,7,10,32.0,32.0,175.0,140.0,30.0,30.0,140.0,110.0
4,Boxer,10,12,25.0,25.0,80.0,65.0,23.0,23.0,65.0,50.0
5,Dalmatian,11,13,24.0,24.0,70.0,70.0,19.0,19.0,45.0,45.0
6,Poodle (Miniature),10,18,15.0,15.0,15.0,15.0,10.0,10.0,10.0,10.0
7,Bullmastiff,7,9,27.0,27.0,130.0,120.0,25.0,25.0,110.0,100.0
8,Beagle,10,15,16.0,15.0,20.0,30.0,14.0,13.0,15.0,20.0
9,Border Collie,12,15,22.0,22.0,55.0,55.0,19.0,19.0,30.0,30.0
10,Siberian Husky,12,14,23.5,23.5,60.0,50.0,21.0,21.0,45.0,35.0

In [20]:
df2=df1.iloc[0:11,0:11]

In [27]:
a=float(df2[['min_life_expectancy']].mean())

In [29]:
print(f'the average min life expectancy of a dog = {a} years ')

the average min life expectancy of a dog = 10.090909090909092 years

In [31]:
b=float(df2['max_life_expectancy'].mean())

In [32]:
print(f'the average max life expectancy of a dog = {b} years ')

the average max life expectancy of a dog = 13.272727272727273 years

In [36]:
df2['max_height_male'].max()

32.0

In [37]:
df2['max_height_female'].max()

32.0

In [38]:
df2['min_height_male'].min()

8.0

In [40]:
df2['min_height_female'].min()

8.0